cat <<EOF > .gitignore
# Environment
.env
.venv
# Ignore specific files and directories based on your project structure
.qodo
.airflow

# Directories and files based on tree structure
# .
# ├── docker-compose.yaml
# ├── Dockerfile
# ├── infra
# │   ├── kubernetes
# │   └── terraform
# ├── ingestion
# │   └── airbyte
# │       ├── config
# │       ├── data
# │       └── workspace
# ├── metadata
# │   └── openmetadata
# ├── orchestration
# │   └── airflow
# │       ├── crm_pipeline.py
# │       ├── dags
# │       ├── dbt
# │       ├── Dockerfile
# │       ├── include
# │       ├── logs
# │       ├── plugins
# │       └── requirements.txt
# ├── others
# │   └── backup_docker-compose.yaml
# ├── README.md
# ├── requirements.txt
# ├── scripts
# │   ├── build-images.sh
# │   ├── delete_all.sh
# │   ├── learn_script-dev.sh
# │   └── run_tests.sh
# └── transformation
#     └── dbt
#         ├── dbt_project.yml
#         ├── Dockerfile
#         ├── models
#         ├── profiles.yml
#         ├── scripts
#         └── tests

# Secrets
secrets/

# Airflow
orchestration/airflow/logs/
orchestration/airflow/airflow-webserver.pid

# dbt
transformation/dbt/target/
transformation/dbt/dbt_packages/
transformation/dbt/logs/
transformation/dbt/profiles.yml

# Airbyte
ingestion/airbyte/data/
ingestion/airbyte/config/*.json

# IDE
.idea/
.vscode/
EOF